:root{
    --Moderateblue: hsl(238, 40%, 52%);
    --SoftRed: hsl(358, 79%, 66%);
    --Lightgrayishblue: hsl(239, 57%, 85%);
    --Palered: hsl(357, 100%, 86%);
    --Darkblue: hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --Lightgray: hsl(223, 19%, 93%);
    --Verylightgray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--Verylightgray);
    margin: auto;
}
.container{
    height: 100vh;
    display: grid
}
h2{
    font-size: 1rem;
    color: var(--Darkblue);
    margin: 0;
}
.text{
    color: var(--GrayishBlue);
}
.comments_container{
    /* height: 100vh; */
    overflow-y: scroll;
    gap: 1rem;
    /* flex-direction: column; */
    padding-top: 3rem;
}
.comment{
    background-color: var(--White);
    border-radius: 12px;
    padding: 1rem;
    height: fit-content;
}

.replyingTo{
    color: var(--Moderateblue);
    font-weight: 700;
}
.score{
    background-color: var(--Verylightgray);
    border-radius: 8px;
    max-width: 40px;
    color: var(--Moderateblue);
    font-weight: 500;
}
.score .btnScore{
    border: none;
    background-color: none;
   
}
.score .btnScore:hover{
    filter: brightness(0) saturate(100%) invert(35%) sepia(20%) saturate(1878%) hue-rotate(200deg) brightness(95%) contrast(92%);
}

.img_user{
    width: 40px;
}
.btnControls{
    background-repeat: no-repeat;
    background-position: left center;
    font-weight: 500;
    padding: 0 1.2rem;
    border: none;
    background-color: transparent;
}
.reply{
    background-image: url(../images/icon-reply.svg);
    color: var(--Moderateblue);
}
.delete{
    background-image: url(../images/icon-delete.svg);
    color: var(--SoftRed);
}
.edit{
    background-image: url(../images/icon-edit.svg);
    color: var(--Moderateblue);
}
.btnControls:hover{
    opacity: .5;
}
.form{
    background-color: var(--White);
    border-radius: 12px;
}
.form .send{
    background-color: var(--Moderateblue);
    padding: .5rem 1.5rem;
    color: var(--White);
}
.form .send:hover{
    opacity: .5;
}

.toggle_user{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--White);
    border-radius: 12px 0 0 12px;
    border: none;
    padding: 0.5rem 1rem;
}
.offcanvasul{
    list-style: none;
    /* margin-right: 2rem; */
    padding: 0;
}
.offcanvasul .offcanvasli button{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border: none;
    background-color: transparent;  
}
.offcanvasul .offcanvasli:hover{
    background-color: var(--SoftRed);
}
.current::after{
    content: "you";
    padding: 2px 7px;
    margin-left: -8px;
    border-radius: 2px;
    background-color: var(--Moderateblue);
    color: var(--White);
    font-size: 12px;
    font-weight: 500;
}
.controls{
    display: flex;
    gap: 1rem;
    margin-left: auto;
}