:root{
    --Moderateblue: hsl(238, 40%, 52%);
    --SoftRed: hsl(358, 79%, 66%);
    --Lightgrayishblue: hsl(239, 57%, 85%);
    --Palered: hsl(357, 100%, 86%);
    --Darkblue: hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --Lightgray: hsl(223, 19%, 93%);
    --Verylightgray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--Verylightgray);
    margin: auto;
}
h2{
    font-size: 1rem;
    color: var(--Darkblue);
    margin: 0;
}
.text{
    color: var(--GrayishBlue);
}
.comments_container{
    /* height: 100vh; */
    overflow-y: scroll;
    gap: 1rem;
    flex-direction: column;
}
.comment{
    background-color: var(--White);
    border-radius: 12px;
    padding: 1rem;
    height: fit-content;
}
.score{
    background-color: var(--Verylightgray);
    border-radius: 8px;
    max-width: 40px;
    color: var(--Moderateblue);
    font-weight: 500;
}
.score .btnScore{
    border: none;
    background-color: none;
   
}
.score .btnScore:hover{
    filter: brightness(0) saturate(100%) invert(35%) sepia(20%) saturate(1878%) hue-rotate(200deg) brightness(95%) contrast(92%);
}

.img_user{
    width: 40px;
}
.btnReply{
    background-image: url(../images/icon-reply.svg);
    background-repeat: no-repeat;
    background-position: left center;
    color: var(--Moderateblue);
    font-weight: 500;
    padding: 0 1.2rem;
    margin-left: auto;
    border: none;
    background-color: transparent;
}
.btnReply:hover{
    opacity: .5;
}
